@charset "UTF-8";

body{
    font-family: 'Hiragino kaku Gothic Pro', 'Meiryo', sans-serif;
    font-size: 15px;
    border-top: 10px solid #79a1b1;
    background-image: url(/img/background/back.jpeg);
    background-position: 0px 206px;
}
a{
    text-decoration: none;
    color:#333;
}
/*一番上のロゴ*/
.logo{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.w_inner{
    width: 1200px;
    margin: 0 auto;
}

.header{

    background-color: white;
    margin-bottom: 40px;

}

.header ul{

    display: flex;
}

.header ul li{
    width: 150px;
    min-width: 150px;
    border-left: 2px solid #ddd;
}



.header ul li a{
    display: block;
}

.new{
    margin-top: 60px;
    margin-left: 400px;
    margin-right: 600px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.new p{
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
}


.research_explain{
    margin-top: 50px;
    margin-right: 300px;
    margin-bottom: 200px;
	background: rgba(51,112,121,0.2);
}

.research_explain .explain_txt{
    margin-left: 300px;
    padding: 80px 40px 80px;

}


.container_research .research_block{
    display: flex;
    justify-content: space-between;
}

.container_research .research{
    width: 380px;
    text-align: center;
}

.container_research h2{
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}

.container_research .research img{
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.container_research .research .ttl{
    font-weight: bold;
    font-size: 18px;
}

.container_research .research .explain{
    margin-bottom: 20px;
}

.container_research .research a{
    background: #79a1b1;
    color: #fff;
    padding: 15px 20px 12px;
}


.footer{
    margin-top: 40px;
    border-top: 5px solid #79a1b1;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.footer .copy{
    margin-top: 10px;
    text-align: left;
    margin-left: 10px;
}

.footer .jaist_link{
    text-align: right;
}
.footer .jaist_link img{
    width: 50%;
    height: auto;
    margin-top: 10px;
}